//Breakpoints....
$breakpoint_XXL: 'max-width: 1400px';
$breakpoint_XL: 'max-width: 1200px';
$breakpoint_LG: 'max-width: 992px';
$breakpoint_MD: 'max-width: 768px';
$breakpoint_SM: 'max-width: 576px';
$breakpoint_450: 'max-width: 450px';
$breakpoint_ESM: 'max-width: 385px';
$breakpoint_50: 'max-width: 350px';

$sidebar_width: 300px;
$body: var(--bodybg);

body {
    background-color: $body;
}

main {
    min-height: calc(100vh - 50px);
    margin-bottom: 0 !important;
    -webkit-transition: margin-left 0.3s ease;
    -o-transition: margin-left 0.3s ease;
    transition: margin-left 0.3s ease;
    overflow: hidden;
    padding: 85px 30px 100px 30px;
    margin-left: 280px;

    @media($breakpoint_XL) {
        margin: 0;
        padding: 0;
        padding: 75px 0.85rem 0 0.85rem !important;
    }

    @media($breakpoint_LG) {

        margin: 0 auto;
    }

    @media($breakpoint_MD) {
        margin-left: 0;
        min-width: 100%;

    }
}

.button_style {
    background: var(--primary-color);
    padding: 8px 24px;
    color: var(--txt-white);
    border-radius: 5px;
    border: none;
}

.coustom_container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;


    @media ($breakpoint_XL) {
        padding: 0 40px;
    }

    @media ($breakpoint_LG) {
        padding: 0 30px;
    }

    @media ($breakpoint_MD) {
        padding: 0 18px;
    }

    @media ($breakpoint_SM) {
        padding: 0 15px;
    }
}