.globalpool-section {
  margin-top: 30px;
  .globalpool-inner {
    padding: 20px;
    background: var(--txt-white);
    border-radius: 10px;
    .globalpool-head {
      background-color: var(--light-blue);
      padding: 20px;
      border-radius: 10px;

      h4 {
        margin: 0;
        color: var(--primary-color);
      }
    }
    .cards_row {
      padding: 20px 10px 7px 10px;
      background-color: var(--bodybg);
      margin-top: 20px;
      border-radius: 10px;
.cards-row2 {
  width: 100%;
  margin: auto;

  .card_inner {
    border: none;
position: relative;
    border-radius: 10px;
    margin-bottom: 15px;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    .card-body {
      display: flex;
      justify-content: center;
      background-color: var(--txt-white);
      border-radius: 7px;
      .card-text {
        font-weight: 600;
        font-size: 16px;
        margin: 0;
      }

      .card-title {
        transition: all 0.4s linear;
        color: var(--txt-light);
        text-align: center;
        margin: 0;
      }
    }

    img {
      transition: all 0.4s linear;
      width: 65px;
      background: white;
      border-radius: 50%;
      border: 1px dotted var(--primary-color);
      padding: 5px;
    }

    &::after {
      content: "";
      position: absolute;
      height: 80%;
      // transform: rotate(90deg);
      width: 7px;
      top:9px;
      left: 0;
      background: var(--primary-color);
      border-radius: 0px 20px 20px 0px;

      // @media ($breakpoint_SM) {
      //   width: 71px;
      //   top: 46%;
      //   left: -30px;
      // }
    }
  }
}
    }

    .global-selfbuss {
      padding: 10px 20px 10px 20px;
      border-radius: 10px;
      margin-top: 20px;
      background-color: var(--bodybg);
      @media ($breakpoint_450) {
        padding: 10px;
      }
      .global-max {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        @media ($breakpoint_ESM) {
          flex-direction: column-reverse;
          gap: 8px;
        }
        p {
          margin: 0;
          color: var(--primary-color);
        }
        span {
          width: 50px;
          height: 50px;
          background: var(--sky-blue);
          padding: 10px;
          border-radius: 50px;

          img {
            width: 100%;
          }
        }
      }
      .worldpool {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        .worldglobal-pool {
          background-color: var(--txt-white);
          display: flex;
          align-items: center;
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          justify-content: space-between;
          h6 {
            margin: 0;
            @media ($breakpoint_ESM) {
              font-size: 14px;
            }
          }

          p {
            margin: 0;
            @media ($breakpoint_ESM) {
              font-size: 14px;
            }
          }
        }
        .progressing {
          width: 150px;
          @media ($breakpoint_ESM) {
            width: 100px;
          }
          p {
            margin: 0;
            text-align: center;
            background: #32bafd;
            padding: 10px;
            border-radius: 10px;
            margin-left: 10px;
            color: white;
          }
        }
      }
    }
    .globalpool-pics {
      text-align: center;
      width: 320px;
      @media ($breakpoint_450) {
        width: 100%;
      }
      img {
        width: 100%;

      }
    }
  }
  @include table_styles;
}
